        :root {
            --clr-primary: rgb(54, 112, 199);
            --clr-light: #f4f4f4;
            --clr-dark: #333;
            --clr-warning: rgb(99, 36, 36);
            --clr-green: greenyellow;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: roboto, sans-serif;
        }

        body {
            background-color: var(--clr-primary);
            color: var(--clr-light);
            font-size: 20px;
            line-height: 1.5;
            margin-top: 200xp;
            width: 100%;
            letter-spacing: 1.5px;
        }

        .all-tasks {
            margin-left: 100px;
            margin-top: 50px;
        }

        .task-list {
            padding-left: 20px;
            line-height: 1.8;
            list-style: circle;
        }

        .new-lists {
            display: flex;
        }

        .new {
            background: transparent;
            border: 0;
            color: inherit;
            border-bottom: 1px solid currentColor;
            font-size: inherit;
            outline: none;
            transition: border-bottom 150ms ease-in;
            order: 2;
        }

        /* .new:focus {
            border-bottom-width: 2px;
        } */
        .new:focus::placeholder {
            opacity: .2;
        }

        .active-list {
            font-weight: bold;
            color: var(--clr-green);
            list-style: disc;

        }

        .btnNewList {
            cursor: pointer;
            background: 0;
            border: 0;
            padding: 0;
            color: inherit;
        }

        .btnNewList.list {
            font-size: 30px;
            font-weight: bold;
            transition: opacity 250ms ease-in;
        }

        .btnNewList.list:hover {
            opacity: .5;
        }

        .new-tasks {
            width: 90%;
            margin: 100px auto;
            display: flex;
            justify-content: space-around;
        }

        input {
            padding: 10px;
            font-size: 20px;
            border-radius: 5px;
            transition: 0.5s;
        }

        /* input:focus {
            border: 2px solid var(--clr-green);
        } */

        .task {
            background: none;
            outline: none;
            color: #000;
            text-align: center;
        }

        .search {
            width: 110px;
            transition: width 0.4s ease-in-out;
        }

        .search:focus {
            width: 30%;
        }

        .choose {
            display: flex;
        }


        hr {
            color: var(--clr-light);
            width: 50%;
            margin: 50px auto;
            opacity: .3;
        }

        .wrapper {
            width: 90%;
            margin: 50px auto;
            border: 1px solid lightgray;
            background-color: var(--clr-green);
        }

        .taskBox {
            /* display: flex;
            justify-content: space-between;
            align-items: center; */
            margin: 5px 0;
        }

        h1 {
            text-align: center;
            margin: 70px;
        }

        span {
            margin-left: 10px;
        }

        /*-------------BUTTONS----------*/


        .addBtn {
            padding: 10px;
            font-size: 20px;
            cursor: pointer;
            border-radius: 25px;
            outline: none;
            background-color: greenyellow;
        }

        .deleteBtn {
            cursor: pointer;
            background-color: red;
            font-size: 18px;
            padding: 5px 10px;
            float: right;
            border: none;
            margin-left: 10px;
        }

        .editBtn {
            cursor: pointer;
            background-color: greenyellow;
            font-size: 18px;
            padding: 5px 10px;
            float: right;
            border: none;
        }

        /*-------------END BUTTONS----------*/

        .clock {
            width: 25vw;
            background-color: greenyellow;
            text-align: center;
            margin: 0 auto;
            padding: 10px;
            border-radius: 5px;
        }